
#start {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    text-align: center;
    color: #800000;
    border: none;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin-top: 358px;
    transform: scale(6);
    background-image: url('./docs/assets/images/lua-de-sangue.jpg');
    background-size: 164%;
    background-position: center;
}

#base{
    background-image: url('./docs/assets/images/backgroundIMAGE2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 50px;
}


#canvas-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#divto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
start{
    background-image: url('./docs/assets/images/backgroundIMAGE.jpg');
    background-size: 100%;
}

body{
    background-image: url('./docs/assets/images/backgroundIMAGE.jpg');
    background-size: 100%;
}

.hidden {
    display: none;
    visibility: hidden;
}

#stop{
    background-image: url('./docs/assets/images/transcendcat.jpg');
    background-size: 130%;
    transform: scale(6);
}